/**
 * @file
 * Style for Template sidebar panel.
 */
body {
  padding: 0;
  margin: 0;
}

#template-panel .message {
  padding: 5px 10px;
}

#template-panel ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#template-panel ul li {
  margin: 0;
  padding: 0;
  min-height: 18px;
  overflow: hidden;
}
#template-panel ul li code {
  float: left;
  max-width: 80%;
}
#template-panel ul li button {
  float: right;
  border-radius: 3px;
  font-size: 10px;
}
#template-panel ul li.selected {
  font-weight: bold;
  color: #00e;
}
#template-panel .label {
  display: block;
  margin-bottom: 3px;
  background-color: #ddd;
  padding: 3px 10px;
}
#template-panel ul ul li {
  display: block;
  font-size: 12px;
  line-height: 140%;
  padding: 3px 10px;
  border: 0;
}
#template-panel ul ul li:hover {
  background: #eee;
}

/**
 * Dark theme.
 */
.dark-theme {
  background: #242424;
  color: #BDC6CF;
}
.dark-theme #template-panel .label {
  background-color: #353535;
}
.dark-theme #template-panel ul ul li:hover {
  background: #252d36;
}
.dark-theme #template-panel ul li.selected {
  color: #f29767;
}
.dark-theme #template-panel ul li button {
  background-color: #252d36;
  color: #BDC6CF;
  border: 1px solid #454545;
}
.dark-theme #template-panel ul li button:hover {
  background: #454545;
}
